<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="userStoryStatus">
      <h2 data-cy="userStoryStatusDetailsHeading"><span jhiTranslate="toDoApp.userStoryStatus.detail.title">User Story Status</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userStoryStatus.id }}</span>
        </dd>
        <dt><span jhiTranslate="toDoApp.userStoryStatus.userId">User Id</span></dt>
        <dd>
          <span>{{ userStoryStatus.userId }}</span>
        </dd>
        <dt><span jhiTranslate="toDoApp.userStoryStatus.statusState">Status State</span></dt>
        <dd>
          <span>{{ userStoryStatus.statusState }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/user-story-status-to-do', userStoryStatus.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
